<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <h1>Food<span>Zilla</span></h1>
    <p class="sub-header">We make the love</p>
    <div class='hero-banner'>
        <div class='header'><h1>lorem ipsum dolor sit amit <span>consequeter</span> dolor mit <span>miko</span> </h1></div>
        <div class='images'>
            <div class='img img1'>
                <h2>Lorem ipsum.</h2>
                <p>lorem ipsum dolor sit amit consequeter dolor mit miko</p>
            </div>
            <div class='img img2'><h2>Lorem ipsum.</h2><p>lorem ipsum dolor sit amit consequeter dolor mit miko</p></div>
            <div class='img img3'><h2>Lorem ipsum.</h2><p>lorem ipsum dolor sit amit consequeter dolor mit miko</p></div>
            <div class='img img4'><h2>Lorem ipsum.</h2><p>lorem ipsum dolor sit amit consequeter dolor mit miko</p></div>
        </div>
    </div>
    <div class="container">
        <div class="imageContainer">

            <div class="image" style="background-image: url('/img/food1.jpg');">
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum.</p>
            </div>
            <div class="image" style="background-image: url('/img/food2.jfif');">
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum.</p>
            </div>
            <div class="image" style="background-image: url('/img/food3.jfif');">
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum.</p>
            </div>
            <div class="image" style="background-image: url('/img/food4.jpg');">
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum.</p>
            </div>
            <div class="image" style="background-image: url('/img/food5.webp');">
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum.</p>
            </div>
            <div class="image" style="background-image: url('/img/food6.jpg');">
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum.</p>
            </div>
            <div class="image" style="background-image: url('/img/food7.jpg');">
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum.</p>
            </div>
            <div class="image" style="background-image: url('/img/food8.jpg');">
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum.</p>
            </div>
            <div class="image" style="background-image: url('/img/food9.jpg');">
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum.</p>
            </div>
        </div>
    </div>
    <p>{{user}}</p>
</body>
</html>