<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/navbar.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <ul class="nav-item">
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/feature" class="nav-link">Feature</a></li>
            <li><a href="/recipe" class="nav-link">Frecipes</a></li>
            <li><a href="/vege" class="nav-link">Vegeterian</a></li>
            <li><a href="/shop" class="nav-link">Shop</a></li>
        </ul>
        <div class="btns">
            <button class="login"><a href="/login">Login</a></button>
            <button class="signUp"><a href="/signup">signup</a></button>
        </div>
    </div>

    {{!-- <script>
        let navLink = document.querySelectorAll('.nav-link')
        navLink.forEach(each => {
            each.addEventListener('click', e => {
                navLink.forEach(each => {
                    each.classList.remove('active')
                })
                e.target.classList.add('active')
            })
        })
    </script> --}}
</body>
</html>